<!-- Client modal (loaded by ajax) -->
<div class="modal fade" id="client-modal" tabindex="-1" role="dialog" aria-labelledby="Client">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>