<div class="row">
	<div class="col-sm-9"><h1>Payment summary</h1></div>
	<div class="col-sm-3"><%= link_to 'Export', reporting_payments_path(format: :csv), class: 'btn pop pull-right', style: 'margin-top:30px' %></div>
</div>

<% if @payments.any? %>
	<table class="table">
		<th>Payment creation date</th>
		<th>Customer</th>
		<th>Description</th>
		<th>Expected charge date</th>
		<th>Amount</th>
		<th>Reference</th>
		<th>Status</th>
		<th>Failure cause</th>
		<%= render partial: 'reporting/payment', collection: @payments %>
	</table>
	<%= will_paginate @payments %>
<% end %>
