<div class="alert alert-info" role="alert" id="data-syncing-loader" data-target="<%= organisations_sync_status_url(format: :json) %>">
	<div class="throbber-loader"><%= t('loading.loader_backup') %></div>
	<strong><%= t('loading.notice') %></strong>
</div>